<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="users_info">
        <h2>Users info</h2>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="book_containts">
        <h2>Books</h2>
        <table class="table table-striped">

        </table>
      </div>
    </div>
  </div>
</div>

