<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
</head>

<body>
  <div class="text-center">
    <h1>
      welcome to <i class="fas fa-book"></i>Bookers!!
    </h1>

    <div class="top_text">
      <a>In <i class="fas fa-book"></i>Bookers,</br>
      you can share and exchange your opinions, inpressions, and emotions</br>
      about various books!
      </a>
    </div>
    <ul>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-secondary"%>
    </ul>
    <ul>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
    </ul>
  </div>
</body>
