<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
</head>

<body>
  <div class="d-grid gap-2 col-5 mx-auto">
    <h1>
      welcome to <i class="fas fa-book"></i>Bookers!!
    </h1>
  </div>

  <div class="d-grid gap-2 col-5 mx-auto">
    In <i class="fas fa-book"></i>Bookers,</br>
    you can share and exchange your opinions, inpressions, and emotions</br>
    about various books!
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <ul>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-block" %>
    </ul>
    <ul>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-block" %>
    </ul>
  </div>
</body>
